[Unit]
After=local-fs.target

[Service]
ExecStart=/opt/startservice
ExecStop=/opt/stopservice
ExecRestart=/opt/restartservice

[Install]
WantedBy=default.target
